extends layouts/default

block vars
    -
        const page = {
            title: 'contacts.html'
        };




block main
    .container.container--dpr.page__pad
        h1.h2.page__title Контакты филиалов сети клиник «Астра»

        .accordion
            .accordion__title
            .accordion__content.map
                .map__container
                    .map__left
                    .map__right
                        .map__content.showed
                            .map__address Наб. реки Мойки, д. 51
                            .map__comment 5 мин. от м.Адмиралтейская, 7 мин. от м. Невский Проспект (выход на кан. Грибоедова)
                            .map__phones.column
                                div +7 812-331-66-66;
                                div +7 812-331-66-66;
                                div +7 812-331-66-66;
                                div +7 812-331-66-66;
                            .map__email
                                a(href="mailto:") moika@astraclinic.ru
                            .map__time Пн-Вс: 9:00 - 21:00