extends layouts/default

block vars
    -
        const page = {
            title: 'prices.html'
        };




block main
    .container.container--dpr.page__pad
        h1.h2.page__title Прейскурант на услуги

        include partials/_breadcrumbs

        .accordion
            .accordion__title.accordion__title--1.active Цены на услуги м. Адмиралтейская
            .accordion__content.prices
                .sub-accordion
                    - var n = 0;
                    while n < 6
                        - n++
                        .sub-accordion__title.prices__title Общие услуги
                        .sub-accordion__content
                            .prices__table
                                .prices__row
                                    .prices__cell 1
                                    .prices__cell Расширенная консультация имплантолога
                                    .prices__cell 1000 руб.
                                .prices__row
                                    .prices__cell 1
                                    .prices__cell Расширенная консультация имплантолога
                                    .prices__cell 1000 руб.
                                .prices__row
                                    .prices__cell 1
                                    .prices__cell Расширенная консультация имплантолога
                                    .prices__cell 1000 руб.
