footer.footer
    .footer__container.container.container--dpr
        .footer__left
            .footer__copy Сеть стоматологических клиник © «Астра», 2020
            a(href="").footer__politic Политика конфиденциальности

        .footer__dev
            span Создание сайта:
            a(href="" target="_blank")
                img(src="img/seo.svg")