.accordion{
    &+.accordion{
        margin-top: 2px;
    }
    &__title{
        padding: 16px 50px 16px 32px;
        font-weight: 600;
        font-size: 18px;
        display: flex;
        align-items: center;
        color: #FFFFFF;
        cursor: pointer;
        background: #13070c;
        position: relative;
        &::after{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background: url("../img/arrow_down_w.svg") center center no-repeat;
            background-size: contain;
            position: absolute;
            right: 32px;
            top: 50%;
            margin-top: -7px;
            transition-duration: .2s;
        }

        &--1{background-color: #6C2A81}
        &--2{background-color: #1B73B2}
        &--3{background-color: #E01A4D}

        &.active{
            &::after{
                transform: rotate(180deg);
            }

            &+ .accordion__content{
                display: block;
            }
        }
    }
    &__content{
        display: none;
        padding: 18px 0 48px;
        &.map{
            padding: 32px 0 72px;
            .map__container{
                margin: 0;
            }
            .map__address{
                font-size: 20px;
            }
            .map__phones{
                column-count: 1;
                font-size: 20px;
                line-height: 180%;
            }
            .map__content{
                display: block;
            }
            .map__right{
                width: 417px;
                max-width: 100%;
            }
            .map__left{
                width: calc(100% - 417px);
            }
        }
    }
}