.patient-photos {
	margin: 0 -16px -32px;
	display: flex;
	flex-wrap: wrap;
}

.patient-photo {
	display: block;
	position: relative;
	margin: 0 16px 32px;
	width: calc(33.33% - 32px);

	img {
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center center;
	}

	&::before {
		content: '';
		display: block;
		padding-top: 89.6%;
	}

	&:hover {}

	&:active {}

	&:focus {}
}


.patitent-desc-title {
	font-weight: 500;
	font-size: 30px;
	line-height: 160%;
	color: #13070C;
	margin-top: 45px;
}

.patitent-desc {
	margin-top: 18px;
    padding-bottom: 17px;
	p:first-child{
		margin-top: 0;
	}
}

.bg-lg{
	background: #F5F3F1;
}
.reviews--pat-page{
    margin-top: 26px;
    padding-bottom: 24px;
}