.sub-accordion{
    &__title{
        position: relative;
        padding: 12px 32px ;
        &::after{
            content: "";
            display: block;
            width: 15px;
            height: 15px;
            background: url("../img/arrow_down.svg") center center no-repeat;
            background-size: contain;
            position: absolute;
            right: 32px;
            top: 50%;
            margin-top: -7px;
        }

        &.active{
            &::after{
                transform: rotate(180deg);
            }
        }
    }

    &__content{
        display: none;
    }
}

.prices{
    &__title{
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        color: #13070C;
        border-bottom: 1px solid #C9C1C4;
        cursor: pointer;
    }
    &__content{
        padding-left: 56px;
        box-sizing: border-box;
        padding-top: 12px;
        padding-bottom: 24px;
    }
    &__table{
        display: table;
        width: 100%;
    }
    &__row{
        display: table-row;
    }
    &__cell{
        display: table-cell;
        font-size: 16px;
        line-height: 19px;
        color: #13070C;
        padding-bottom: 12px;
        padding-top: 12px;
        border-bottom: 1px solid #E3DDDF;
        padding-right: 5px;
        padding-left: 5px;
        &:first-child{
            width: 40px;
            padding-right: 5px;
        }
        &:last-child{
            text-align: right;
            white-space: nowrap;
        }
    }
}